.ant-space-item {
  width: 20em;
  height: 20em;
}
.css-9t2n28 {
  display: flex;
  justify-content: center;
}
.ant-progress-inner {
  width: 200px !important;
  height: 200px !important;
  font-size: 60px !important;
}
.ant-progress-text {
  color: white !important;
}
